#buttonSection {
    display: inline-block;
    height: 30px;
    width: 250px;
    margin-top: 1%;
   
}

#statusLabel {
  color: whitesmoke;
}

#import #export {
  align-content: left;
}

#upperSection
 {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}


body {
  background-image: linear-gradient(360deg, rgb(73, 73, 73) 35%, rgb(204, 206, 207) 100%);
}

#tabs-2 {
    width: 250px;
}

#insert {
  margin-top: 1%;
}

/* Labels and title */
#upperSection #lb1 {
  font-size: 15px;
  margin-bottom: 6px; 
  font-weight:bold ;
  margin-right: auto;
}


#refresh {
  margin-left: 27%;
  margin-top: -10pt;
}

#lb2 {
  font-size: 10px;
  margin-top: 2pt;
}

#title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.instruction {
  margin-top: 5%;
}

.iWrapper {
  margin-top: 5%;
  margin-bottom: 2%;
  align-items: center;
}

/* Table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tableDiv {
  border: 1px solid gray; 
  height:80px;
  overflow:auto;
  margin-bottom: 1%;
  margin-top: 1%; 
}
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  