#buttonSection {
    display: inline-block;
    padding: 10px;
    width: 300px;
}

#tabs-2 {
    width: 300px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }